@import url("general.css");

/* ==============================
    Container Geral
   ============================== */

main {
    width: 100%;
    padding: 4%;
}

.card {
    background-color: var(--gray-blue);
    padding: 10px;
    width: 100%;
    height: fit-content;
    font-family: "Source Sans 3";
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
    transition: all .2s;
}

/* ==============================
    Biography 
   ============================== */

.container-biography {
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
}

.card .char-thumbnail {
    max-width: 120px;
}

/* ==============================
    Name container 
   ============================== */

.container-name {
    flex: 1;
    align-self: center;
    text-align: left;
    /* background-color: aquamarine; */
    color: var(--white);
    min-width: 200px;
    padding: 5px 15px;
}

.container-name .char-name {
    font-size: 1.2rem;
    font-family: "valorant";
}

/* ==============================
    Class container 
   ============================== */

.container-class {
    flex: 1;
    align-self: center;
    text-align: center;
    padding: 12px 0 6px 0;
    min-width: 100px;
    color: var(--white);
}

.container-class img {
    width: 40px;
}

.container-class .char-class {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
}

/* ==============================
    Abilities 
   ============================== */

.container-abilities {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.container-abilities .ability {
    flex: 1;
    min-width: 150px;
    padding: 10px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: var(--medium-red);
    background-image: url(../images/pattern.png);
    color: var(--white);
}

.ability .ability-icon {
    max-width: 100px;
}

.ability .ability-name {
    font-family: "valorant";
    padding: 6px 0;
    color: var(--bright-red);
}

.ability .ability-description {
    text-align: left;

}

/* ==============================
    Responsive 
   ============================== */

@media only screen and (max-width: 800px) {
    .container-name {
        max-width: 100%;
    }

    .container-class {
        border: 1px solid rgba(255, 255, 255, 0.4);
    }
}